@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);
@import url(../blocks/wrapper/wrapper.css);
@import url(../blocks/link/link.css);

/* хэдер */
@import url(../blocks/header/header.css);
@import url(../blocks//header/__logo/header__logo.css);
@import url(../blocks/header/__link-container/header__link-container.css);
@import url(../blocks/header/__lange-link/header__lange-link.css);
@import url(../blocks/header/__lange-link/_active/header__link_active.css);

/* леад */
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

/* интро */
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__span-accent/intro__span-accent.css);

/* фото грид */
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);

/*плэйс */
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__conteiner-paragraph/place__conteiner-paragraph.css);
@import url(../blocks/place/__img/place__img.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__website/place__website.css);


/* ковер */
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

/* футер */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/fopter__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);