.header__lange-link {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .header__lange-link {
    font-size: 18px;
    line-height: 20px;
  }
}